html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Start variables and mixins */
/* End variables and mixins */
body {
  background: url("/images/bg-pattern-top-mobile.svg") top left no-repeat, url("/images/bg-pattern-bottom-mobile.svg") bottom left no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.copy {
  text-align: center;
  width: 100%;
}
.copy--title {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #502050;
  font-size: 1.75rem;
  margin: 75px auto 25px;
  width: 70%;
}
.copy--body {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  color: #937b92;
  margin: 0 auto 30px;
  width: 90%;
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.bars {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.bars .bar {
  background-color: #f7f2f7;
  border-radius: 10px;
  height: 80px;
  margin: 10px auto;
  width: 90%;
}
.bars .bar--stars {
  display: flex;
  justify-content: space-around;
  margin: 15px auto 20px;
  max-width: 120px;
  width: 40%;
}
.bars .bar--title {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #502050;
  font-size: 0.85rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
}
.cards .card {
  background: #502050;
  border-radius: 10px;
  margin: 10px auto;
  width: 90%;
}
.cards .card:last-child {
  margin-bottom: 100px;
}
.cards .card--user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 85%;
}
.cards .card--user--avatar {
  display: inline;
  margin-right: 30px;
}
.cards .card--user--avatar img {
  border-radius: 50%;
  max-width: 45px;
}
.cards .card--user--info {
  font-size: 0.9rem;
}
.cards .card--user--info__name {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: white;
  margin: 7px 0 5px;
}
.cards .card--user--info__subtitle {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  color: #ee68a4;
  opacity: 0.75;
}
.cards .card--copy {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  color: white;
  width: 85%;
  font-size: 0.85rem;
  margin: 0 auto 30px;
  line-height: 1.5rem;
}

@media screen and (min-width: 1000px) {
  body {
    background: url("/images/bg-pattern-top-desktop.svg") top left no-repeat, url("/images/bg-pattern-bottom-desktop.svg") bottom left no-repeat;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .copy {
    text-align: left;
    width: 40%;
    margin: 130px 12%;
  }
  .copy--title {
    font-size: 2.9rem;
    margin: 0;
  }
  .copy--body {
    font-family: "Spartan", sans-serif;
    font-weight: 500;
    margin: 15px 0 0 0;
    width: 80%;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .cards {
    width: 100%;
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
