@import "reset";

/* Start variables and mixins */
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);
$darkGrayMagenta: hsl(303, 10%, 53%);
$lightGrayMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
@mixin font__light {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}
@mixin font__med {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}
@mixin font__bold {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
/* End variables and mixins */

body {
  background: url("/images/bg-pattern-top-mobile.svg") top left no-repeat,
    url("/images/bg-pattern-bottom-mobile.svg") bottom left no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.copy {
  text-align: center;
  width: 100%;
  &--title {
    @include font__bold;
    color: $veryDarkMagenta;
    font-size: 1.75rem;
    margin: 75px auto 25px;
    width: 70%;
  }
  &--body {
    @include font__med;
    color: $darkGrayMagenta;
    margin: 0 auto 30px;
    width: 90%;
    font-size: 0.9rem;
    line-height: 1.35rem;
  }
}

.bars {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  .bar {
    background-color: $lightGrayMagenta;
    border-radius: 10px;
    height: 80px;
    margin: 10px auto;
    width: 90%;
    &--stars {
      display: flex;
      justify-content: space-around;
      margin: 15px auto 20px;
      max-width: 120px;
      width: 40%;
    }
    &--title {
      @include font__bold;
      color: $veryDarkMagenta;
      font-size: 0.85rem;
      text-align: center;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  .card {
    background: $veryDarkMagenta;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    &:last-child {
      margin-bottom: 100px;
    }
    &--user {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 30px auto;
      width: 85%;
      &--avatar {
        display: inline;
        margin-right: 30px;
        img {
          border-radius: 50%;
          max-width: 45px;
        }
      }
      &--info {
        font-size: 0.9rem;
        &__name {
          @include font__bold;
          color: $white;
          margin: 7px 0 5px;
          opacity: 0.85;
        }
        &__subtitle {
          @include font__light;
          color: $softPink;
          opacity: 0.75;
        }
      }
    }
    &--copy {
      @include font__med;
      color: $white;
      font-size: 0.8rem;
      line-height: 1.5rem;
      margin: 0 auto 30px;
      opacity: 0.8;
      width: 85%;
    }
  }
}

@media screen and (min-width: 1000px) {
  body {
    background: url("/images/bg-pattern-top-desktop.svg") top left no-repeat,
      url("/images/bg-pattern-bottom-desktop.svg") bottom left no-repeat;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 78%;
  }
  .copy {
    margin: 130px 0 0 0;
    text-align: left;
    width: 42%;
    &--title {
      font-size: 2.9rem;
      margin: 0;
      width: 100%;
    }
    &--body {
      line-height: 1.5rem;
      margin: 15px 0 0;
      width: 85%;
    }
  }
  .bars {
    margin: 140px auto 0 auto;
    width: 42%;
    .bar {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 56px;
      margin: 8px 0;
      padding: 0 10px;
      width: 100%;
      &--stars {
        height: 30%;
        margin: 0 30px;
      }
      &--title {
        text-align: left;
      }
      &:nth-child(2) {
        margin-left: 45px;
      }
      &:nth-child(3) {
        margin-left: 90px;
      }
    }
  }
  .cards {
    flex-direction: row;
    flex-basis: 100%;
    height: 100%;
    margin-top: 20px;
    width: 100%;
    .card {
      height: 80%;
      padding: 10px 0;
      width: 31%;
      &:last-child {
        margin-bottom: 0;
      }
      &--user {
        margin: 30px auto 20px;
        &--avatar {
          img {
            max-width: 38px;
          }
        }
        &--info {
          font-size: 0.8rem;
        }
      }
      &:nth-child(2) {
        margin-top: 25px;
      }
      &:nth-child(3) {
        margin-top: 50px;
      }
    }
  }
}
